@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* Main CSS */

body{
  background-color: #121212 !important;
}

.place{
  transition: 0.2s;
}

.place:focus{
  outline: none;
  border: 2px solid #0079f2;
  transition: 0.2s;
}

*{
  
  color: white;
}

nav{
  padding-right: 10px !important;
  padding-left: 10px !important; 
}

h1
{
  margin-left: 10px;
  color: white;
  font-family: Inter;
  font-weight: 500;
}

.see-all{
  margin-top: 14px;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 300;
  color: white;
  text-decoration: none;
  font-family: League Spartan;
  transition: 0.4s !important;
}

.see-all:hover{
  text-decoration: none;
  transition: 0.4s !important;
  color: #00ff91 !important;
}

.see-all-i{
  color: white;
  font-size: 15px;
}

.title{
  display: flex;
  vertical-align: middle;
  margin-left: 4.5em;
  margin-top: 17px;
  margin-bottom: -32px;
}

.fire{
  margin-top: 10px;
  margin-left: 3px;
  color: white;
  font-size: 27.5px;
}

.left
{
  display: flex;
  align-items: center;
}

.tog{
  margin-top: 1px;
  border: none;
}


/* Search bar */

i[aria-hidden="true"]{
  background-color: transparent;
  font-size: 20px;
  color: #9c9ea0;
  margin: 3px;
}

i[aria-hidden="true"]{
  margin-right: 13px;
}

.search{
  background-color: #202020;                                              
  margin-top: 3em;
  margin-left: 4.5em;
  margin-bottom: 1rem;
  width: 30%;
}
::placeholder{
  color: #9c9ea0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

input{
  padding-left: 10px;
  width: 100%;
  height: 2em;
  border: solid 2px #202020;
  background-color: #121212;
  padding-right: 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-button{
  height: 2em;
  width: 10%;
  background-color: #202020;
  border: none;
  padding-right: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-form
{
  display: flex;
}

.submit{
  padding-right: 0;
}

/* Login */

.right .icon{
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 17px;
}

.login{
  
  margin-top: 3px;
  color:white;
  text-decoration: none;
  display: flex;
  width: 75px;

}

.login:hover{
  transition: 0.1s;
  color: #00ff91 !important;
  text-decoration: none !important;
}

.login-text{
  margin-left: 5px;
  font-size: 17px;
  text-decoration: none;
  display: flex;
  transition: 0.4s;
  color: white;
  font-family: League Spartan;
}

.right{
  margin-top: -10px !important;
  width: auto !important;
}

ul{
  margin-left: 7px!important;
}

.icon i{
  margin-top: 1px;
}

.icon[aria-hidden="true"]{
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  margin-right: 7px;
  align-items: center;
}

/* .icon:hover{
  color: #00ff91
} */

.profile:hover ~ .login-text{
  transition: 0.1s;
  color: #00ff91 !important;
  text-decoration: none !important;
}

.login-text:hover{
  transition: 0.1s;
  color: #00ff91 !important;
  text-decoration: none !important;
}

/* Additional */

.navbar-toggler:focus{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon{
  color: white;
}

.nav-title{
  padding: 0px 0px 0px 0px;
  display: inline-block;
  transition: 0.4s;
  margin-left: 7px;
  color: #898989 !important;
  font-family: League Spartan;
  font-size: 25px;
}

.nav-title:hover{
  transition: 0.4s !important;
  color: #00ff91 !important;
}

.offcanvas-i{
  margin-top: 8.5px;
  font-size: 25px;
/*   transition: 0.4s !important; */
  color: #898989 !important;
}

/* .hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  font-size: 10px;
  opacity: 0;
  width: 20px;
  background-color: #585858;
  color: #fff;
  font-family: League Spartan;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
} */

.tooltip{
   tooltip-bg: #585858;
}


.notif-i{
  color: white;
  font-size: 17px;
}

.notif-button{
  background-color:transparent;
  margin-left: 15px;
  border-radius: 50%;
  transition: 0.4s;
  border: none;
}

.notif-button:hover{
  transition: 0.4s;
  background-color: #877d7d;
}

.cart-button:hover{
  transition: 0.4s;
  background-color: #877d7d;
}

.cart-i{
  color: white;
  font-size: 17px;
}

.cart-button{
  background-color: transparent;
  border-radius: 50%;
  transition: 0.4s;
  border: none;
}

.cart-button:hover{
  transition: 0.4s;
  background-color: #877d7d;
}

.button{
  margin-left: 17px;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  background-color: #0053A6;
  color: white;
  font-family: League Spartan;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-right: 30px;
  border-radius: 6px !important;
  transition: 0.4s !important;
}

.button:hover{
  transition: 0.4s;
  background-color: #0079f2;
}

.button-i{
  font-style: normal;
  background-color: transparent;
  margin-top: 8.5px;
  font-size: .875rem !important;
}

.right{
  display: inline-flex;
  align-items: center;
  width: 20%;
}

/* .offcanvas-i:hover{
  transition: 0.4s !important;
  color: #00ff91 !important;
} */

ul{
  margin-left: -25px;
}

.search{
  border-radius: 15px;
}

.plus{
  margin-top: 5px;
   margin-left: 3.5px;
}

/* Cards */

.navbar-text a h4{
  margin-left: 7.5px;
}

.cards
{
  vertical-align: middle !important;
  margin-left: 4em !important;
  margin-top: 2em;
}



.container2 {
/*   position: relative; */
  font-family: League Spartan;
  display: inline-block;
  margin: 8px;
}

/* .container2::before, .container2::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
} */

.container2::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

/* .container::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
} */

.container2 .box2 {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  transition: all ease .3s;
}

.container2 .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container2 .box2 .title2 {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .1em
}

.container2 .box2 div{
  background-color: transparent;
}

.container2 .box2 i{
  color: white;
  margin-left: 55px;
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.container2 .box2 div strong {
  background-color: transparent;
  display: block;
  margin-bottom: .5rem;
}

.container2 .box2 div p {
  background-color: transparent;
  margin: 0;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.container2 .box2 div span {
  background-color: transparent;
  font-size: .7rem;
  font-weight: 300;
}

.container2 .box2 div span:nth-child(3) {
  background-color: transparent;
  font-weight: 500;
  margin-right: .2rem;
}

.container2 .box2:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

@media (min-width: 2000px){
.col-sm-6{
  width: auto;
}
}

.home-item{
  margin-left: -15px !important;
  padding-left: 15px !important;
  margin-right: 110px !important;
  border-radius: 10px !important;
  background-color: #272727 !important;
  color: white !important;
  transition: 0.4s !important;
}

.home-item a i{
  color: white !important; 
}

.home-item a h4{
  color: white !important;
}

.home-item a h4:hover{
  color: white !important;
}

.home-item:hover{
  color:white !important; 
  transition: 0.4s !important;
  background-color: #473e3e !important;
}

/* Offcanvas icons position */

.explore-i{
  padding-right: 4px;
}
.models-i{
  padding-right: 7px;
}
.home-i{
  padding-right: 6px;
}
.login-i{
  font-size: 28px !important;
  padding-right: 20px;
}

.scripts-i{
  padding-left: 1px;
  padding-right: 5px;
}
/* Footer */


.footer-basic {
  margin-top: 30px;
  font-family: League Spartan;
  padding:40px 0;
  background-color:#000000;
  color:#ffffff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Device support */

.login-mobile{
  visibility:hidden;
}

@media only screen and (max-width: 1024px){
.right{
  margin-right: 110px;
}
  .button{
    width: 90%;
  }
}

@media (max-width: 280px){
  .see-all {
    margin-top: 7px;
    font-size: 16px;
    margin-left: 20px;
  }
  .notifications{
  display: none;
}
  .cart{display:none}
  .footer-basic{
    width: vw;
  }
  .cards {
    margin-left: 0.2em !important;
}
  .search {
    margin-left: 1em;
    width: 90%;
}
  .title{
    margin-left: 3.6em;
  }
  .d-inline-block {
    width: 170px;
    height: auto;
  }
  .button{
  display: none;
}
.login{
  display: none;
}
.title i{
  display: none;
}
h1{
  margin-left: -1.2em !important;
}
  input{
  padding-left: 10px;
  width: 100%;
  height: 2em;
  padding-right: 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
  .search-button{
    margin-right: 5px;
  }
  .container2{
    width: 110px;
    height: auto;
    margin: 5px;
  }
  .container2 .box2{
    width: auto;
    height: auto;
  }
  .container2 .box2 .title2{
    font-size: 12px;
    letter-spacing: 0;
  }
  .container2 .box2 i{
    display: none;
  }
  .login-mobile{
    visibility: visible;
  }
}

@media only screen and (min-width: 1550px){
  .right{
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1550px){
  .right{
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1024) and (max-width: 1300px){
  .right{
    margin-right: 90px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px){
  .button{
    display: none;
  }
  .right{
    margin-right: -60px;
  }
  .search-form{
    width: 400px;}
}

@media only screen and (max-width: 480px) and (min-width: 281px){
  .see-all {
    margin-top: 7px;
    font-size: 16px;
    margin-left: 20px;
  }
.notifications{
  display: none;
}
  .cart{display:none}
.button{
  display: none;
}
.login{
  display: none;
}
.title i{
  display: none;
}
h1{
  margin-left: -1.2em;
}
.search{
  margin-left: 2em;
  width: 80%;
}
  input{
  padding-left: 10px;
  width: 100%;
  height: 2em;
  padding-right: 1px;
  border: solid 2px #202020;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
  .search-button{
    margin-right: 5px;
  }
  .cards{
    margin-left: 1.2em !important;
  }
  .container2{
    width: 110px;
    height: auto;
    margin: 5px;
  }
  .container2 .box2{
    width: auto;
    height: auto;
  }
  .container2 .box2 .title2{
    font-size: 12px;
    letter-spacing: 0;
  }
  .container2 .box2 i{
    display: none;
  }
  .login-mobile{
    visibility: visible;
  }
}