.container{
  background-color: #181D31;
  display: flex;
  justify-content: space-between;
}

body{
  background-color: #181D31;
  list-style: none;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.left{
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.right{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.center{
  display: flex;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: League Spartan;
}
