body
{
    background-color: black;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: smaller;
}

img{
  position: relative;
}

.img{
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}